@using System.Configuration
<!DOCTYPE html>
@{
    var imagePath = ConfigurationManager.AppSettings["ImagePath"];
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasilyBuyAndSell - @ViewBag.Title</title>
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery-3.1.1.min.js")"></script>
    @Styles.Render("~/Content/css")
    <style>
        .divimg {
            position: absolute;
            left: 0;
            bottom: 0;
        }

        .postadbutton {
            position: absolute;
            right: 0;
            top: 20px;
        }

        body {
            background-color: #EFEFEF;
        }

        .navbar {
            max-height: 25px;
        }

        .navbar-inverse {
            background-color: #006666;
            border-top-width: 2px;
            border-top-color: #003333;
            border-bottom-color: #003333;
            border-bottom-width: 2px;
        }

        @@media (min-width: 768px) {
            .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
                margin-left: 0px;
            }

            .btn-warning {
                background-color: #dc8914;
                border-color: #0f1010;
            }

            .btn-warning:hover {
                color: #ffffff;
                background-color: #ffaf3f;
                border-color: #0f1010;
            }
        }
    </style>
    <script type="text/javascript">  var appInsights = window.appInsights || function (config) { function i(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = "AuthenticatedUserContext", h = "start", c = "stop", l = "Track", a = l + "Event", v = l + "Page", y = u.createElement(o), r, f; y.src = config.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js"; u.getElementsByTagName(o)[0].parentNode.appendChild(y); try { t.cookie = u.cookie } catch (p) { } for (t.queue = [], t.version = "1.0", r = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; r.length;) i("track" + r.pop()); return i("set" + s), i("clear" + s), i(h + a), i(c + a), i(h + v), i(c + v), i("flush"), config.disableExceptionTracking || (r = "onerror", i("_" + r), f = e[r], e[r] = function (config, i, u, e, o) { var s = f && f(config, i, u, e, o); return s !== !0 && t["_" + r](config, i, u, e, o), s }), t }({ instrumentationKey: "e8af9187-86fb-468b-95eb-91e93fa082ce" }); window.appInsights = appInsights; appInsights.trackPageView();</script>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="header-banner">
                    @*<a href="@Url.Action("Index", "Home")">*@<span class="divimg"><img id="headerImage" class="img-responsive" src="@Url.Content(imagePath + "headerforeasilybuyandsell.jpg")" /></span>@*</a>*@
                    <a href="@Url.Action("PostAd","Ad")" class="postadbutton hidden-sm hidden-xs"><button class="btn btn-warning"><b><i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;POST AN AD</b></button></a>
                </div>
            </div>
        </div>

    </header>
    <div id="customfixedHeader" class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", id = "texthome" })
                @Html.ActionLink("Post Ad", "PostAd", "Ad", new { area = "" }, new { @class = "navbar-brand hidden-md hidden-lg", id = "postad" })

            </div>
            <div class="navbar-collapse customnavcolor collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - EasilyBuyAndSell</p>
            <br>
            <br/>
        </footer>
    </div>


    @Scripts.RenderFormat(@"<script src=""{0}"" async></script>", "~/bundles/modernizr")
    <!-- include the style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/alertifyjs/alertify.min.css")" />
    <!-- include a theme -->
    <link rel="stylesheet" href="@Url.Content("~/Content/alertifyjs/themes/default.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/font-awesome.css")" />
    @*@Scripts.RenderFormat(@"<script src=""{0}"" async></script>", "~/bundles/jquery")*@
    @Scripts.RenderFormat(@"<script src=""{0}"" async></script>", "~/bundles/bootstrap")
    @*@Scripts.RenderFormat(@"<script src=""{0}"" async></script>", "~/bundles/slick")*@
    @Scripts.RenderFormat(@"<script src=""{0}"" async></script>", "~/bundles/hamroktm")

    @RenderSection("scripts", required: false)
</body>
</html>
<script async src="@Url.Content("/Scripts/alertify.min.js")"></script>
<script>
    $(document).ready(function () {
        $(".alert").slideDown(500);
        $(".alert")
            .fadeTo(8000, 500)
            .slideUp(500,
                function () {
                    $(".alert").slideUp(500);
                });

        $(".logout").on("click",
              function () {
                  javascript: document.getElementById('logoutForm').submit();
                  //alertify.set('notifier', 'position', 'top-right');
                  //alertify.success('Succefully Logged off!');
              });

        //activate only after entire page has loaded
        $(window).bind("load", function () {
            alertify.set('notifier', 'position', 'top-right');
        });

        if ($(window).scrollTop() > 200) {
            $('.customfixedHeader').addClass('fixed-header');
        }

        $(window).scroll(function () {
            if ($(window).scrollTop() > 200) {
                $('.customfixedHeader').addClass('fixed-header');
            }
            else {
                $('.customfixedHeader').removeClass('fixed-header');
            }
        });
    });

</script>
